<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kotlin.listacomprasroomdatabase">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_shopping_basket"
            android:label="Lista de compras"
            android:roundIcon="@drawable/ic_shopping_basket"
            android:supportsRtl="true"
            android:theme="@style/Theme.ListaComprasRoomDatabase">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>